@model IEnumerable<Web_Store.Models.Item>

<div style="text-align:center;width:100%"><h4><b>Thuốc Bán Chạy Nhất</b></h4></div>
<div id="Carousel" class="carousel slide" data-interval="3000" style="width:100%;padding:10px 20%;color:black">
    <div class="carousel-inner">
        @{
            var list10 = Model.OrderBy(e => e.QuantitySold).ToList();
            if (list10.Count() > 1)
            {
                <div class="carousel-item active">
                    <div class="card-horizontal" onclick="btnView('@list10[list10.Count() - 1].ItemId')">
                        <div style="height:275px;"><img style="width:230px;height:275px" src="@list10[list10.Count() - 1].ImagePath" alt="@list10[list10.Count() - 1].Name"></div>
                        <div class="hide" style="padding:20px 40px">
                            <b>@list10[list10.Count() - 1].Name</b>
                            @Html.Raw(list10[list10.Count() - 1].Introduce)
                        </div>
                    </div>
                </div>
                for (int i = list10.Count() - 2; i > list10.Count() - 8 && i >= 0; i--)
                {
                    <div class="carousel-item">
                        <div class="card-horizontal" onclick="btnView('@list10[i].ItemId')">
                            <div style="height: 275px;"><img style="width:200px;height:275px" src="@list10[i].ImagePath" alt="@list10[i].Name"></div>
                            <div class="hide" style="padding:20px 40px">
                                <b>@list10[i].Name</b>
                                @Html.Raw(list10[i].Introduce)
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <a class="carousel-control-prev" href="#Carousel" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
        <i style="color:black" class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next" href="#Carousel" role="button" data-slide="next">
        <span class="sr-only">Next</span>
        <i style="color:black" class="fas fa-chevron-right"></i>
    </a>
</div>
