@model Web_Store.Models.Discuss

<div id="@(Model.DiscussId)discuss">
    <div style="position:relative;height:150px;overflow-y:auto">
        @if (Model.Messages.Count > 0)
        {
            var listMess = Model.Messages.OrderBy(m => m.Time);
            foreach (var mess in listMess)
            {
                <p style="padding:3px 10px;margin:1px; border-radius:4px; background-color:#f4f2f2"><b>@(mess.Account.Username)</b>[@(mess.Time)]: <br />@mess.Content</p>
            }
        }
        else
        {
            <div>
                .. Chưa có bình luận nào
            </div>
        }
    </div>
    <hr />
    <div>
        <button class="btn btn-outline-warning form-control" style="width:8%;margin:0px;float:left" onclick="loadMessage(@Model.DiscussId)"><i class="fas fa-arrow-down"></i></button>
        <input type="text" class="form-control" style="width:78%;margin:0px;float:left" placeholder="Nhập bình luận ..." />
        <button class="btn btn-outline-info form-control" style="width:14%;margin:0px;float:left" onclick="sendMessage(@Model.DiscussId)">Gửi</button>
    </div>
</div>

