@model Web_Store.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("List","Categories")'"><h2>Category</h2></button>
    <button type="button" class="btn btn-info" style="pointer-events:none">
        <i class="fa fa-info" aria-hidden="true"></i>
    </button>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Introduce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduce)
        </dd>

    </dl>
</div>
